<h3>Employee Masters</h3>

<form (ngSubmit)="addEmployee(form)" #form="ngForm">
  <div class="form-flex">
    <div class="card flex justify-content-center">
      <p-floatLabel>
        <input type="text" id="txtId" name="id" pInputText [(ngModel)]="model.id" [ngModelOptions]="{standalone: true}" required /><br />
        <label for="txtId">ID </label>
      </p-floatLabel>

      <p-floatLabel>
        <input type="text" id="txtName" name="name" pInputText [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" required /><br />
        <label for="txtName">Name </label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText type="number" id="txtAge" name="age" [(ngModel)]="model.age" [ngModelOptions]="{standalone: true}" required /><br />
        <label for="txtAge">Age </label>
      </p-floatLabel>

      <p-floatLabel>
        <input pInputText type="email" id="txtEmail" name="email" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}" required /><br />
        <label for="txtEmail">Email </label>
      </p-floatLabel>

      <label id="rdolGender" for="rdoGender">Gender </label><br />

      <input type="radio" id="rdoGender" name="gender" [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" value="Male">
      Male
      <input type="radio" id="rdoGender" name="gender" [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" value="Female">
      Female
      <br />
      <p-checkbox [(ngModel)]="model.isActive"
                  [binary]="true"
                  inputId="chkActive"
                  [ngModelOptions]="{standalone: true}"
                  id="chkActive" />
      <label for="chkActive">Active </label>
    </div>
    <div>
      <p-floatLabel>
        <p-calendar inputId="txtDOB" name="txtDOB" [(ngModel)]="model.dob" [ngModelOptions]="{standalone: true}" />
        <label for="txtDOB">Date of Birth</label>
      </p-floatLabel>
      <p-floatLabel>
        <p-dropdown [options]="designation"
                    [(ngModel)]="model.designation"
                    [ngModelOptions]="{standalone: true}"
                    optionLabel="dname"
                    optionValue="dcode"
                    inputId="float-label"
                    id="ddlDesigination" name="designation" />
        <label for="float-label">Desigination</label>
      </p-floatLabel>
      <p-floatLabel>
        <textarea rows="1" cols="25"
                  pInputTextarea
                  id="txtAddress" name="address"
                  [(ngModel)]="model.address" [ngModelOptions]="{standalone: true}">
        </textarea>
        <label for="txtAddress">Address</label>
      </p-floatLabel>

      <p-floatLabel>
        <p-dropdown [options]="city"
                    [(ngModel)]="model.city"
                    [ngModelOptions]="{standalone: true}"
                    optionLabel="name"
                    optionValue="code"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    id="ddlCity"
                    name="city">
        </p-dropdown>
        <label for="ddlCity">Select a City</label>
      </p-floatLabel>
      <p-floatLabel>
        <input pInputText type="text" id="txtRegion" name="region" [(ngModel)]="model.region" [ngModelOptions]="{standalone: true}" required /><br />
        <label for="txtRegion">Region </label>
      </p-floatLabel>

    </div>
  </div>
  <div id="button-box">
    <div>

    </div>
    <div>
      <p-button label="Save" type="submit" icon="pi pi-check" size="small" />
      <p-button label="Cancel" icon="pi pi-times" size="small" />
    </div>
  </div>
</form>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Desigination</th>
      <th>DOB</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Address</th>
      <th>City</th>
      <th>Region</th>
      <th>Is Active</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of employees">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.designation }}</td>
      <td>{{ user.dob }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.region }}</td>
      <td>{{ user.isActive }}</td>
      <td>
        <!-- Edit and Delete buttons -->
        <p-button label="Edit" (click)="editStudent(user)" icon="pi pi-times" size="small" />
        <!--p-button label="Delete" (click)="deleteStudent(user.id)" icon="pi pi-times" size="small" /-->

      </td>
    </tr>
  </tbody>
</table>
